body{
	margin:0%;
	box-sizing:border-box;
	background-color:#0E0E0E
}

nav{
	padding:1%;
	box-sizing:border-box;
	color:white

}

.icon{
	font-size:24px;
	margin:0.3% 0% 0% 0.6%;
	display:inline-block;
	vertical-align:top
}

.logo{
	font-size:32px;
	margin:0% 0% 0% 1%;
	display:inline-block;
	color:red;
	vertical-align:top
}

.font{
	margin:0.4% 0% 0% 0%;
	display:inline-block;
	font-size:22px;
	vertical-align:top;
	
}

sup{
	font-size:11px
	}
	
.search{
	display:inline-block;
	margin:0% 0% 0% 14%;
	vertical-align:top
}

.srch{
	width:600px;
	height:34px;
	border:2px solid #303030;
	border-radius:25px
}

.mic{
	background-color:#303030;
	margin:0% 0% 0% 0.5%;
	display:inline-block;
	font-size:26px;
	padding:0.3%;
	border-radius:30px;
	vertical-align:top
}

.cre{
	background-color:#303030;
	margin:0% 0% 0% 13%;
	display:inline-block;
	font-size:22px;
	padding:0.4%;
	border-radius:25px;
	width:6.5%;
	vertical-align:top
		
}

.not{
	margin:0.4% 0% 0% 1%;
	display:inline-block;
	font-size:24px;
	vertical-align:top
}

.mar{
	margin:0% 0% 0% 5%
}

.span{
	margin:0% 0% 0% 7%
}

.img{
	border-radius:35px;
	width:40px;
}

.img1{
	display:inline-block;
	margin:0% 0% 0% 1%
	
}

aside{
	padding:1%;
	width:5%;
	display:inline-block;
}

.home{
	padding:0.1;
	font-size:30px;
	margin:0% 40% 0% 8%;
	color:white
}

.shrt{
	padding:1%;
	font-size:30px;
	margin:45% 30% 0% 0%;
	color:white;
}

.shrt2{
	padding:1%;
	font-size:30px;
	margin:45% 38% 0% 0%;
	color:white;
}

.shrt1{
	padding:0.1%;
	font-size:28px;
	margin:45% 35% 0% 0%;
	color:white;
}

figcaption{
	font-size:12px;
}

.a1{
	background-color:white;
	display:inline-block;
	vertical-align:top;
	font-size:18px;
	border-radius:5px;
	padding:0.3%
}

.a2{
	background-color:#303030;
	display:inline-block;
	vertical-align:top;
	font-size:18px;
	border-radius:5px;
	padding:0.3%;
	color:white;
	margin: 0% 0% 0% 0.5%
}

.sec1{
	display:inline-block;
	vertical-align:top;
	width:90%
}

.v1{
	display:inline-block;
	margin:1% 0% 0% 0%;
	padding:0.5%;
	background-color:green
}

.v2{
	display:inline-block;
	margin:1% 0% 0% 1.5%;
	padding:0.5%;
	background-color:green
}

.color{
	color:white;
	font-size:20px
}

.i1{
	width:40px;
	border-radius:30px
}

.d1{
	display:inline-block;
	vertical-align:top;
	margin:1% 0% 0% 0%
}

.d2{
	display:inline-block;
	vertical-align:top;
	margin:1% 0% 0% 1%;
	}

.name{
	margin:1% 0% 0% 12%;
	font-size:14px
}